<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form #commandForm="ngForm" (ngSubmit)="conmmadUpdate()" autocomplete="off">
                <input type="text" placeholder="Command To Execute" class="form-control mt-2" name="command" [(ngModel)]="commandUpdate.Command" />
            </form>
            <div  class="command-box-container">
                <div class="command-box ">
                    <ng-container *ngFor="let commands of commandText" >
                        <div style="display:inline-block; ">
                    <span  class="poly-wrapper "style="display:inline;" ><img src="assets/images/polyline.png " class="rounded " /></span><p class="command-text">{{commands}}</p>
                </div>
                
                </ng-container>
                <ng-container *ngIf="report !=null" >
                    <div style="display:inline-block; ">
                <span  class="poly-wrapper "style="display:inline;" ><img src="assets/images/polyline-report.png " class="rounded " /></span><p class="command-text" style="color:aquamarine;font-size:15px">{{report}}</p>
            </div>
            
            </ng-container>
                </div>
                    
            </div>
        </div>
       
        <div class="col-md-2">
            <div class="text-center "><h4 class="badge badge-info " style="margin-top:10px; font-size: 20px;">Commands List</h4></div>     
            <div  class="command-list-container">
                <div class="command-list ">
                    <div style="display:inline-block; ">
                        <span  class="poly-wrapper "style="display:inline;" ><img src="assets/images/polyline-cmd.png " class="rounded " /></span><strong><p class="command-list-text">PLACE 1,2,F</p></strong>
                    </div>
                    <div style="display:inline-block; ">
                        <span  class="poly-wrapper "style="display:inline;" ><img src="assets/images/polyline-cmd.png " class="rounded " /></span><strong><p class="command-list-text">MOVE</p></strong>
                       </div> <div style="display:inline-block; ">
                       <span  class="poly-wrapper "style="display:inline;" ><img src="assets/images/polyline-cmd.png " class="rounded " /></span><strong><p class="command-list-text">LEFT</p></strong></div> 
                       <div style="display:inline-block; ">
                       <span  class="poly-wrapper "style="display:inline;" ><img src="assets/images/polyline-cmd.png " class="rounded " /></span><strong><p class="command-list-text">RIGHT</p></strong>
                        </div><div style="display:inline-block; ">
                        <span  class="poly-wrapper "style="display:inline;" ><img src="assets/images/polyline-cmd.png " class="rounded " /></span><strong><p class="command-list-text">REPORT</p></strong>
                        </div>
                </div>
                </div>       

            
        </div>

        <div class="col-md-6">
            <table class="table table-striped box-wrapper">
                <thead>
                    <tr>
                        <!--  <th style="border-style: solid; margin: 5px !important; " scope="col " *ngFor="let col of colArray; index as i ">{{i+1}}</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let col of rowArray; index as yAxis">
                        <td *ngFor="let col of colArray; index as xAxis">
                            <!--J==X-axis and i==Y--->
                            <div class="robo-wrapper text-center" id="{{
                  'sqaure-' + xAxis + 'x' + (totalCoordinatesNumber - yAxis)
                }} ">
                                {{ "sqaure-" + xAxis + "x" + (totalCoordinatesNumber - yAxis) }}
                                <ng-container *ngIf="position != null">
                                    <ng-container class="center" *ngIf="
                      'sqaure-' +
                        xAxis +
                        'x' +
                        (totalCoordinatesNumber - yAxis) ==
                      'sqaure-' +
                        position.X +
                        'x' +
                        (totalCoordinatesNumber - y_axis)
                    ">
                    <div class="fade-in-image">
                    <ng-container class="fade-in-image " *ngIf="faceDirection.Direction == roboFaceDirections.NORTH"><img src="assets/images/mini-north.png " class="rounded mx-auto d-block" /></ng-container>
                    <ng-container class="fade-in-image "*ngIf="faceDirection.Direction == roboFaceDirections.SOUTH"><img src="assets/images/mini-south.png " class="rounded mx-auto d-block" /></ng-container>
                    <ng-container class="fade-in-image " *ngIf="faceDirection.Direction == roboFaceDirections.EAST"><img src="assets/images/mini-east.png " class="rounded mx-auto d-block" /></ng-container>
                    <ng-container  *ngIf="faceDirection.Direction == roboFaceDirections.WEST"><img src="assets/images/mini-west.png " class="rounded mx-auto d-block" /></ng-container></div>
    
                                        
                                    </ng-container>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>