.navbar-brand,
.dropdown-toggle,
.dropdown-item {
    text-decoration: none !important;
    cursor: pointer;
    padding: 5px;
    ;
}

.navbar-brand,
.dropdown-toggle,
.dropdown-item:hover {
    text-decoration: none !important;
}

.dropdown-divider {
    background-color: #fffff4;
}

.fixed-top {
    padding: 0px;
}